<div>
    <form class="form-group" (ngSubmit)="handleFormSubmit()" [formGroup]="studentForm">
      <table>
        <tr>
          <td>Name</td>
          <td><input class="form-control" formControlName="name" type="text">
          </td>
  
        </tr>
        <tr>
          <td>Sdt</td>
          <td><input class="form-control" formControlName="phoneNumber" type="text">
          </td>
        </tr>
        <tr>
          <td>Ngày sinh</td>
          <td><input class="form-control" formControlName="dob" type="text">
          </td>
        </tr>
      </table>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>